*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body{
    overflow: hidden;
    /* background-color:black; */
}
ol, ul{
    list-style: none;
}
.clock{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, #083961, #021627 ), #000000; */

    background: linear-gradient(to bottom right, #e6ebf0, #525a63), #ced4da;
    /* background: linear-gradient(to bottom right, #070738, rgb(7, 7, 46) ), #0c0c33; */
    
}
.clock-frame{
    padding: 18%;
    border-radius: 50%;
    background-color: #52153ad8;
    box-shadow: 10px -15px 25px rgba(0, 0, 0, 0),
                inset 10px -15px 25px rgba(0,0, 0),
                -10px 15px 25px rgba(0, 0, 0, 0),
                inset -10px 15px 25px rgba(0, 0, 0);
    /* display: none; */
    position: absolute;
}
.num-12{
   
    padding: 2px;
    position: absolute;
    
    height: 100%;
    top: 0%;
    left: 50%; 
    transform: translate(-50%) rotate(0deg);
    background-color: rgb(211, 219, 211);


}

.num-3{
    padding: 2px;
    position: absolute;
    
    height: 100%;
    top: 0%;
    left: 50%; 
    transform: translate(-50%) rotate(90deg);
    background-color: rgb(211, 219, 211);

}
.num-1-7{
    padding: 0.6px;
    position: absolute;
    
    height: 100%;
    top: 0%;
    left: 50%; 
    transform: rotate(30deg);
    background-color: rgb(211, 219, 211);
}
.num-4-10{
    padding: 0.6px;
    position: absolute;
    
    height: 100%;
    top: 0%;
    left: 50%; 
    transform: rotate(-60deg);
    background-color: rgb(211, 219, 211);
}
.num-5-11{
    padding: 0.6px;
    position: absolute;
    
    height: 100%;
    top: 0%;
    left: 50%; 
    transform: rotate(-30deg);
    background-color: rgb(211, 219, 211);
}

.num-2-8{
    padding: 0.6px;
    /* border-radius: 50%; */
    position: absolute;
    /* transform: translate(50%, 50%); */
    
    height: 100%;
    top: 0%;
    left: 50%; 
    transform: rotate(60deg);
    background-color: rgb(211, 219, 211);
}
.num-9{
    padding: 5.5px;
    position: absolute;
    
    height: 50%;
    top: 0%;
    left: 50%; 
    transform: translate(-50%) rotate(0deg);
    background-color: rgb(211, 219, 211);

}
.clock-hand{
    padding: 16.5%;
 /* display: none; */
  box-shadow: 10px -15px 25px rgba(0, 0, 0, 0),
                inset 10px -15px 25px rgba(0,0, 0),
                -10px 15px 25px rgba(0, 0, 0, 0),
                inset -10px 15px 25px rgba(0, 0, 0);
   

} 
@media screen and (max-width: 1000px){
    .clock-hand{
        padding: 20%;
    }
    .clock-frame{
        padding: 22%;
    }
    .clock-number{
        padding: 16%;
        font-size: 10px;
    }
}
.clock-number{
    padding: 15%;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    /* background:  #c5c5d1; */
    
    transform: translate(0%, 0%);
    
}
@media screen and (max-width: 1650px){
    .clock-hand{
        padding: 24%;
    }
    .clock-frame{
        padding: 26%;
    }
    .clock-number{
        padding: 22%;
        font-size: 30px;
    }
    
}
@media screen and (max-width: 850px){
    .clock-hand{
        padding: 28%;
    }
    .clock-frame{
        padding: 30%;
    }
    .clock-number{
        padding: 25%;
        font-size: 1px;
    }
}
@media screen and (max-width: 550px){
    .clock-hand{
        padding: 32%;
    }
    .clock-frame{
        padding: 35%;
    }
    .clock-number{
        padding: 28%;
        font-size: 12px;
        /* text-emphasis: none;; */
    }
}

.clock-second{
    position: absolute;
    z-index: 0;
    border-radius: 50%;

    background: linear-gradient(to bottom right, #699cc5, #0f2841 ), #000000;

    /* background: linear-gradient(to bottom right, #e6ebf0, #525a63), #ced4da; */

    /* background: linear-gradient(to bottom right, #083961, #021627 ), #000000; */
}
.clock-pointer-second{
    padding: 2.5%;
    border-radius: 50%;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0%;
  
    background-color: rgb(43, 99, 43);
    
}
.clock-minute{
    position: absolute;
    z-index: 0;
    border-radius: 50%;

    background: linear-gradient(to bottom right, #0c0c49, rgb(7, 7, 46) ), #0c0c33;
}
.clock-pointer-minute{
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid  rgba(226, 230, 25, 0.849);
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0%;
    
}
.clock-hour{
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #0c0c49, rgb(4, 4, 37) ), #0c0c33;
    /* animation-duration: s; */
}
.clock-pointer-hour{
    height: 0;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid  rgba(230, 25, 25, 0.849);
    /* z-index: 2; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0%;

}
.clock-point-hor{
    padding: 0.2px;
    width: 15px;
    position: absolute;
    z-index: 1;
    /* border-radius: 50%; */
    /* display: none; */
    background-color: #104058;
    /* animation: hourmove 43200s linear infinite; */
    /* animation-duration: s; */
}
.clock-point-vert{
    padding: 8px;
    height: 15px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* display: none; */
    background-color: #fcfdfd;
    /* animation: hourmove 43200s linear infinite; */
    /* animation-duration: s; */
}

.value{
    /* --rotation: 0; */
    transform: translate(-50% , -50%);
    position: absolute;
    display: flex;
    text-align: center;
    color: #d9e8e9;
    font-size: 22px;
    font-weight: 600;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    /* transform: rotate(var(--rotation)); */
    /* justify-content: ; */

}
.value-12{
    transform: translate(-50% , -50%);

    top: 1%;
}
.value-3{
    transform: translate(50% , -50%);

    right: 0%;
}
.value-6{
    transform: translate(-50% , 50%);

    bottom: 0%;
}
.value-9{
    transform: translate(-50% , -50%);

    left: 0%;
}

.change-button{
    margin: %;
    padding: 2%;
    background-color: #fcfdfd0a;
    right: 40%;
    margin: 5%;
    height: 15%;
    position: relative;
}
.ball{
    margin: 1%;
    padding: 25%; 
    /* width: 100%; */
    /* height: 100%; */
    /* position: absolute; */
    background-color: #21e9ad;
}
/* =========================================== */

@-webkit-keyframes secondmove{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes minutemove{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes hourmove{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}